@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body{
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: hsl(235, 21%, 11%);
  transition: all .3s ease;
}

#root{
  height: 100vh;
}